footer{
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(../img/bg_footer.png);
    background-size: 100%;
    background-position-y: center;
    object-fit: cover;
}

footer .box_empresa{
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -3%;
    border: 2px solid #ccc;
}
footer .box_empresa img{
    width: 300px;
}
footer #meio{
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer #meio .txt{
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
footer #meio .txt img{
    width: 150px;
    margin-bottom: 1rem;
}
footer #meio .txt p{
    color: #fff;
    font-size: 1.05rem;
}
footer #meio .contato{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
footer #meio .contato a{
    color: #fff;
    font-size: 1.5rem;
    margin: 0.5rem;
    text-decoration: none;
}

footer #redes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
    border-top: 2px solid #fff;
}

footer #redes p{
    color: #fff;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .redes{
    width: 200px;
}
footer .redes a img{
    width: 20px;
}

@media only screen and (max-width: 600px){
    footer{
        background-image: url(../img/bg_footer02.png);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: -15%;
    }
    footer .box_empresa{
        width: 100%;
        padding: 0 1rem;
        background-color: transparent;
        border: none;
        margin-top: 0;
    }
    footer .box_empresa img{
        width: 150px;
    }
    footer #meio{
        width: 100%;
    }
    footer #meio .txt{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 2rem;
    }
    footer #meio .txt img{
        width: 120px;
        margin-bottom: 1rem;
    }
    footer #meio .txt p{
        color: #fff;
        font-size: 1rem;
    }
    footer #meio .contato{
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    footer #meio .contato a{
        color: #fff;
        font-size: 1.5rem;
        margin: 0.5rem;
        text-decoration: none;
    }
    
    footer #redes{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 2px solid #fff;
        padding: 1rem;
    }
    
    footer #redes p{
        color: #fff;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    footer .redes{
        width: 100px;
    }
    footer .redes a img{
        width: 20px;
    }
}