*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #012340;
}
main{
    max-width: 1440px;
    background-color: #012340;
    margin: 0 auto;
}
h1{
    font-size: 0;
}

/*DESKTOP*/

@media only screen and (max-width: 1680px){}

/*LAPTOP*/

@media only screen and (max-width: 1440px){}

/*IPAD*/

@media only screen and (max-width: 1040px){}

/*IPHONE*/

@media only screen and (max-width: 600px){}