@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
:root{
    --azul02:    #07689f;
    --amarelo02: #facf39;
    --branco:    #ffffff;
    --azul01:    #0988d0;
    --azul03:    #05486e;
    --amarelo01: #fbfb6b;
}
#pt_01{
    border: 1px solid black;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
}
#pt_01 .box_apresentacao{
    width: 60%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pt_01 .box_apresentacao h1{
    width: 250px;
    font-size: 3rem;
    color: #ffffff;
    background-color: #0988d0;
    padding: 0rem 1rem;
    margin-bottom: 1rem;
    font-weight: bolder;
}
#pt_01 .box_apresentacao .p_01{
    font-size: 2.5rem;
    width: 530px;
    color: #ffffff;
    background-color: #0988d0;
    padding: 0rem 1rem;
    margin-bottom: 1rem;
    font-weight: bolder;
}
#pt_01 .box_apresentacao .p_02{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bolder;
}
#pt_01 .box_apresentacao a{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ffffff;
    padding: 1rem;
    margin-top: 2rem;
    background-color: #0988d0;
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
}
#pt_01 .box_apresentacao a:hover{
    cursor: pointer;
    background-color: #fbfb6b;
    color: #000;
    border: 1px solid black;
}
#pt_01 .box_apresentacao .bg{
    width: 40%;
    border: 1px solid black;
}
.bg{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.bg img{
    width: 350px;
    background-color: #0988d0;
    padding: 2rem;
    box-shadow: 5px 5px 10px #facf39;
}

@media only screen and (max-width: 600px){
    
}