@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
:root{
    --azul02:    #07689f;
    --amarelo02: #facf39;
    --branco:    #ffffff;
    --azul01:    #0988d0;
    --azul03:    #05486e;
    --amarelo01: #fbfb6b;
}
.topo{
    text-align: center;
    padding: 0.5rem;
    background-color: #0987d06e;
}
.topo a{
    font-size: 1.25rem;
    font-weight: bolder;
    color: #000;
}
.topo a:hover{
    cursor: pointer;
    color: #ffffff;
}
#inicio{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}
#inicio .box_e{
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#inicio .box_e h2{
    font-weight: bolder;
    font-size: 3.5rem;
    margin-top: 1rem;
    background-color: #fbfb6bdc;
    padding: 0 1rem;
}
#inicio .box_e h3{
    font-size: 2.5rem;
    font-weight: bolder;
    margin-top: 1rem;
    padding: 0 1rem;
    background-color: #fbfb6bdc;
}
#inicio .box_e p{
    font-size: 1.75rem;
    font-weight: bolder;
    margin-top: 1.5rem;
}
#inicio .box_e a{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 4rem;
    width: 300px;
    height: 70px;
    padding: 1rem;
    border: 1px solid black;
    background-color: #0988d0;
    color: #ffffff;
    text-decoration: none;
}
#inicio .box_e a:hover{
    cursor: pointer;
    background-color: #fbfb6b;
    color: #000;
    font-weight: bolder;
}
#inicio .box_d{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0988d0;
    box-shadow: 5px 5px 10px #facf39;
}
#inicio .box_d img{
    width: 300px;
    height: 400px;
    padding: 2rem;
}
/**/
@media only screen and (max-width: 1380px){
    #inicio{
        width: 100%;
        border: 1px solid black;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0rem;
    }
    #inicio .box_e{
        width: 100%;
        text-align: center;
    }
    #inicio .box_d{
        width: 100%;
        box-shadow: none;
    }
    #inicio .box_d img{
        width: 200px;
        height: 250px;
    }
}

/**/
@media only screen and (max-width: 1050px){
    
    #inicio{
        width: 100%;
        border: 1px solid black;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0rem;
    }
    #inicio .box_e{
        width: 100%;
        text-align: center;
    }
    #inicio .box_d{
        width: 100%;
        box-shadow: none;
    }
    #inicio .box_d img{
        width: 200px;
        height: 250px;
    }
}

/*MOBILE*/
@media only screen and (max-width: 600px){
    #inicio{
        width: 100%;
        border: 1px solid black;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0rem;
    }
    #inicio .box_e{
        width: 100%;
        text-align: center;
    }
    #inicio .box_d{
        width: 100%;
        box-shadow: none;
    }
    #inicio .box_d img{
        width: 200px;
        height: 250px;
    }
}


/****************************** PARTE 02 ******************************/

#video{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: #0988d0;
}
#video .box_text{
    width: 60%;
    padding: 1rem;
}
#video .box_text h2{
    font-size: 2rem;
    font-weight: bolder;
    color: #ffffff;
    margin: 1rem;
}
#video .box_text p{
    font-size: 1.05rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: var(--branco);
    margin: 1rem;
}
#video .box_video{
    width: 40%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#video .box_video iframe{
    width: 90%;
    height: 350px;
}
@media only screen and (max-width: 1280px){
    #video{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
    }
    #video .box_text{
        width: 100%;
    }
    #video .box_video{
        width: 100%;
    }
    #video .box_video iframe{
        width: 90%;
        height: 30rem;
    }
}
@media only screen and (max-width: 900px){
    #video .box_video{
        width: 100%;
    }
    #video .box_video iframe{
        width: 90%;
        height: 20rem;
    }
}

/****************************** PARTE 03 ******************************/

#vantagens{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
    text-align: center;
}
#vantagens h2{
    margin: 1rem;
    font-size: 2.5rem;
}
#vantagens ul li{
    margin: 1rem;
    font-size: 1.5rem;
    list-style: none;
    margin-left: 0.5rem;
    font-weight: bold;
}
#vantagens ul li i{
    color: chartreuse;
    margin-right: 10px;
}

/****************************** PARTE 04 ******************************/

#list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}
#list article{
    width: 60%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#list article h2{
    font-size: 2rem;
    margin: 1rem;
    font-weight: bolder;
}
#list article ul{
    padding-bottom: 2rem;
}
#list article ul li{
    list-style: none;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.5rem;
}
#list article ul li i{
    margin-right: 10px;
    color: chartreuse;
    font-size: 1.5rem;
}
#list div{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid black;
}
#list div img{
    width: 70%;
    
}
@media only screen and (max-width: 1280px){
    #list{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
    }
    #list article{
        width: 100%;
    }
    #list div{
        width: 100%;
    }
}

/****************************** PARTE 05 ******************************/

#sobre{
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}
#sobre div{
    width: 25%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #0988d0;
}
#sobre div img{
    width: 40%;
}
#sobre article {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sobre article h3{
    font-size: 1.9rem;
    margin: 1rem;
}
#sobre article p{
    font-size: 1.15rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 2rem;
}
#sobre article .number{
    width: 90%;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: #ffffff;
}
#sobre article .number .n{
    width: 8rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

#sobre article .number .n p{
    font-size: 2rem;
    font-weight: bolder;
}
#sobre article .number .n .txt{
    font-size: 1.25rem;
    font-weight: 600;
}

@media only screen and (max-width: 900px){

    #sobre div{
        width: 0%;
        border: 0px solid black;
        background-color: transparent;
    }
    #sobre div img{
        width: 0%;
    }
    #sobre article {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

/****************************** PARTE 06 ******************************/

/****************************** PARTE 07 ******************************/