#vtg{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}
#vtg h2{
    margin: 2rem 0;
    font-size: 2.5rem;
    font-family: 'futura', 'sans-serif';
}
#vtg h2::after{
    content: ' ';
    width: 130px;
    height: 3px;
    background-color: #34B4D8;
    display: block;
    margin: 0 auto;
}
#vtg video{
    width: 100%;
    height: 35rem;
    object-fit: cover;
}





@media only screen and (max-width: 1680px){}

/*LAPTOP*/

@media only screen and (max-width: 1440px){}

/*IPAD*/

@media only screen and (max-width: 1024px){}

/*IPHONE*/

@media only screen and (max-width: 600px){}