@import url('https://fonts.cdnfonts.com/css/futura-pt');

#apresentacao{
    width: 97%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 2rem;
    margin: 2rem 0;
}
#apresentacao article{
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
#apresentacao article h2{
    font-family: 'futura', 'sans-serif';
    font-size: 2.75rem;
    color: #34b4d8;
}

#apresentacao article p{
    font-family: 'futura', 'sans-serif';
    margin: 0.5rem 0;
    font-size: 1.25rem;
    font-weight: 100;
}

#apresentacao #bg_img{
    width: 35%;
    height: 25rem;
    background-image: url(../img/perfil.png);
    background-size: 70%;
    background-repeat: no-repeat;
    margin-left: 8rem;
}
#apresentacao #bg_img img{
    width: 110%;
    margin-top: 11rem;
}


@media only screen and (max-width: 1680px){}

/*LAPTOP*/

@media only screen and (max-width: 1440px){}

/*IPAD*/

@media only screen and (max-width: 1024px){
    #apresentacao{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #fff;
        padding: 2rem;
        margin: 2rem 0;
    }
    #apresentacao article{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin-bottom: 2rem;
    }
    #apresentacao article h2{
        font-family: 'futura', 'sans-serif';
        margin: 1rem 0;
        font-size: 2.75rem;
        color: #34b4d8;
    }
    
    #apresentacao article p{
        font-family: 'futura', 'sans-serif';
        margin: 1rem 0;
        font-size: 1.25rem;
        font-weight: 100;
    }
    
    #apresentacao #bg_img{
        width: 20%;
        height: 10rem;
        background-image: url(../img/perfil.png);
        background-size: 10%;
        background-repeat: no-repeat;
    }
}

/*IPHONE*/

@media only screen and (max-width: 600px){
    #apresentacao{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    #apresentacao #bg_img{
        width: 95%;
        height: 20rem;
        background-image: url(../img/mapaNautico.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #apresentacao #bg_img{
        width: 70%;
        height: 15rem;
        background-image: url(../img/perfil.png);
        background-size: 70%;
        background-repeat: no-repeat;
        margin: 0;
    }
    #apresentacao #bg_img{
        width:40%;
        height: 13rem;
        background-image: url(../img/perfil.png);
        background-size: 100%;
        background-repeat: no-repeat;
        margin-left: 1rem;
    }
    #apresentacao article h2{
        font-family: 'futura', 'sans-serif';
        margin: 1rem 0;
        font-size: 2rem;
        color: #34b4d8;
    }
    #apresentacao article p{
        font-family: 'futura', 'sans-serif';
        margin: 1rem 0;
        font-size: 1rem;
        font-weight: 100;
    }
}